.user-card-container {
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 30px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.user-details-container {
  margin-left: 12px;
}

.user-name {
  font-size: 18px;
  color: #12022f;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 8px;
}

.user-designation {
  font-family: 'Roboto';
  font-size: 14px;
  color: #594d6d;
  margin: 0px;
}
@media screen and (min-width:768px) {
    .avatar{
      height: 85px;
      width: 85px;
      border-radius: 42px;
    }
    .user-name{
      font-size:22px;
    }
    .user-designation{
      font-size:17px;
      font-weight: 500;
    }
  }
